
<!--
<a class="twitter-timeline" width="200" height="900" theme="light" href="https://twitter.com/search?q=%40opengeneva" data-widget-id="929488879157211136" >Tweets about @opengeneva</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
-->

<a class="twitter-timeline" data-width="300" data-height="600" data-theme="dark" href="https://twitter.com/opengeneva?ref_src=twsrc%5Etfw">Tweets by opengeneva</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
